$small: 500px;
$medium: 900px;

.pages{
  display: flex;
  justify-content: center;

  @media screen and (min-width: $medium) { 
    width: 80%;
    height: 96.5vh;
    background-color: white;
  }
  @media screen and (max-width: $small){
    margin-top: 15%;
  }
}
.menuHeader{
  background-color: #3f50b5;
  border: 4px solid #3f50b5;
  border-radius: 45%;
}

.pointer{

}

.priceContainerDesktop{
  margin-top: 100px;
  width: 100%;
  @media screen and (max-width: $small) { 
    display: none;
  }
}


